<?xml version="1.0"?>
<launch>

	<node name ="turtlesim_node" pkg="turtlesim" type="turtlesim_node"/>
    <node name ="commander_node" pkg="homework1" type="commander_node"/>
    <node name ="turtles_spawner" pkg="homework1_konstantin_evsey" type="turtles_spawner" output="screen"/>
    <node name ="start_service" pkg="homework1_konstantin_evsey" type="start_service"/>
    <node name ="collector_node" pkg="homework1_konstantin_evsey" type="collector_node"/>

</launch> 
